<html>
<head>
    <title> title</title>
</head>
<body>
    <form action="https://localhost:44347/Download/DownloadFile" method="post">
        <input type="text" id="fileName" />
        <input type="submit" name="s" />
    </form>
</body>
</html>